# ignore letsencrypt generated certificates
data/certbot/etc/*
!data/certbot/etc/.placeholder
data/certbot/var/*
!data/certbot/var/.placeholder

# ignore letsencrypt logs
logs/certbot/*
!logs/certbot/.placeholder

# ignore generated certificates for haproxy
data/certificates/*

# ignore rtmp directories
data/rtmp/hls/*
!data/rtmp/hls/.placeholder

# ignore nondist configs
docker-compose.yml
#rtmp/nginx.conf
config/frontend/config.yml
